import os
basedir = os.path.abspath(os.path.dirname(__file__))


class Config(object):
    APP_NAME = 'Order Counter'
    SECRET_KEY = 'secretkey'
    SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL') or \
        'sqlite:///' + os.path.join(basedir, 'order_counter.db')
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    SESSION_TYPE = 'sqlalchemy'


class TestConfig(Config):
    Testing = True
    SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'test.db')
