{%- extends 'base.html' -%}
{%- block content -%}
  <h1>Order Counter</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.sold_at.label }}
    {{ form.sold_at(value=request.args.get('sold_at') or sold_at) }}
    {%- for error in form.sold_at.errors -%}
      <span class="error">[{{ error }}]</span>
    {%- endfor -%}
    <p>{{ form.submit }}</p>
    <ul class="nav nav-tabs">
      {% for key in item_dict.keys() %}
        <li class="nav-item">
          <a class="nav-link{% if loop.first %} active{% endif %}"
             data-toggle="tab" href="#genre-{{ loop.index }}"
             aria-controls="genre-{{ loop.index }}"
             aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
            {{ key }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for key, item_list in item_dict.items() %}
        <div class="tab-pane fade{% if loop.first %} show active{% endif %}"
             id="genre-{{ loop.index }}"
             aria-labelledby="genre-{{ loop.index }}-tab">
          {{ table(item_list) }}
        </div>
      {% endfor %}
    </div>
  </form>
{%- endblock -%}

{%- block js_area -%}
  <script language="JavaScript">
    function plus(chk) {
      chk.value++;
    }

    function minus(chk) {
      if (chk.value != 0) {
        chk.value--;
      }
    }
  </script>
{%- endblock -%}

{% macro table(item_list) %}
  <div class="table">
    {%- for item in item_list -%}
      <div class="tr">
        <span class="td name">{{ item.name }}</span>
        <span class="td">{{ item.price }}</span>
        <span class="td">
            <input class="btn btn-primary" type=button value="＋" onClick="plus(this.form.val{{ item.id }})">
            <input type=text name="val{{ item.id }}" value=0 size=4>
            <input class="btn btn-danger" type=button value="－" onClick="minus(this.form.val{{ item.id }})">
        </span>
      </div>
    {%- endfor -%}
  </div>
{% endmacro %}
