{%- extends 'base.html' -%}
{%- block content -%}
<h1>Order History</h1>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Amount</th>
  </tr>
  {%- for order_summary in order_summary_list -%}
    <tbody>
      <tr class="table-primary">
        <td colspan="4">{{ order_summary.sold_at|date_format }}</td>
      </tr>
      {%- for order in order_summary.order_list -%}
      <tr>
        <td>{{ order.item }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.amount|number_format }}</td>
      </tr>
      {%- endfor -%}
      <tr class="table-info">
        <td colspan="4" class="text-right">Total : {{ order_summary.total_amount|number_format }}</td>
      </tr>
    </tbody>
  {%- endfor -%}
</table>
{%- endblock -%}